@{
    ViewBag.Title = "Delete";
}
<style>
    button{
        width: 100px;
    }
</style>
<form method="post">
    <h2>Вы уверены, что хотите удалить свой аккаунт?</h2>
    <button class="btn btn-secondary" type="submit">Да</button>    
</form>