@model Dosermana.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" />


<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

            <input type="text" class="form-control" name="Email" placeholder="Логин" required autofocus>
            <input type="password" class="form-control" name="Password" placeholder="Пароль" required>
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Войти</button>
        }
        <a href="@Url.Action("Register", "Account")" class="register">
            Зарегистрироваться
        </a>
    </div><!-- /card-container -->
</div><!-- /container -->