body {
    font-size: 15px
}

@media(max-width: 480px){
    .wrapper{
        width: 100%;
        margin: 5px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}