.body {
    display: flex;
}


.content {
    width: 75%;
    margin-bottom: 20px;
}

.left-nav {
    width: 25%;
}

@media(max-width: 988px) {
    .body {
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .left-nav {
        width: 100%;
    }
}




.prod {
    display: flex;
    flex-direction: row;
}

.prod-img {
    width: 45%;
}

    .prod-img img {
        width: 100%;
    }

.prod-main {
    width: 45%;
}

.prod-title {
    font-size: 24px;
    font-weight: 700;
}

.card-price {
    font-size: 18px;
    font-weight: 700;
}

.card-desc {
    font-size: 18px;
}


















input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 2px solid #ddd;
    display: inline-flex;
}

    .number-input,
    .number-input * {
        box-sizing: border-box;
    }

        .number-input button {
            outline: none;
            -webkit-appearance: none;
            background-color: transparent;
            border: none;
            align-items: center;
            justify-content: center;
            width: 3rem;
            height: 3rem;
            cursor: pointer;
            margin: 0;
            position: relative;
            color: black;
        }

            .number-input button::after {
                content: "+";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 30px;
            }

        .number-input .minus::after {
            content: "-";
        }

        .number-input input[type=number] {
            font-family: sans-serif;
            width: 70px;
            padding: .5rem;
            border: solid #ddd;
            border-width: 0 2px;
            font-size: 2rem;
            height: 3rem;
            font-weight: bold;
            text-align: center;
        }
