@{
    ViewBag.Title = "Заказ обработан";
}

<h2>Вы заказали товар, которого нет в наличии!</h2>
<h4>Благодарим вас за заказ в нашем интернет-магазине. Мы получили ваш запрос и предварительно оформили заказ. 
    Однако, выбранный вами товар временно отсутствует на складе. Наш менеджер свяжется с вами в ближайшее 
    время для уточнения возможности выполнения заказа</h4>
<a href="/" style="font-size: 15px">Продолжить покупку</a>