@model Dosermana.Domain.Entities.Cart

    <div class="navbar-text navbar-right">
        <b class="hidden-xs">Ваша корзина:</b>
        @Model.Lines.Sum(x => x.Quantity) шт,
        @Model.ComputeTotalValue().ToString("0.00 руб")
    </div>
